* {
	padding: 0;
	margin: 0;
}

body {
	padding: 20px;
	font-family: sans-serif;
}

select {
	font-size: inherit;
	padding: 5px;
}

option {
	padding: 0 5px;
}

.col-content {
	height: 50px;
	background-color: red;
	opacity: 0.5;
}

.behind .col-content {
	height: 540px;
}

.foreground {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.foreground .col-content {
	background-color: lightgray;
	opacity: 1;
}

.foreground .grid {
	margin-bottom: 20px;
}

.wrap {
	position: relative;
}

input[type="text"] {
	padding: 5px;
}

.grid-inner {
	margin: 0 -10px;
}

.col {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.wrap {
	margin: 0 auto;
}

.clear {
	clear: both;
	overflow: hidden;
}
